.link-title:link,
.link-title:visited,
.link-title:hover,
.link-title:active {
    text-decoration: none;
}

.link-title:link,
.link-title:visited {
    color: #ffffff;
}

.link-title:hover {
    color: #38373B;
}

.link-title:active {
    color: #000000;
}

.main-menu-element:hover {
    background: #38373B;
}

.main-menu-ref:link,
.main-menu-ref:visited {
    color: #ffffff;
}

.main-menu-ref:hover {
    color: #B18F1E;
}

.main-menu-ref:active {
    color: #ffffff;
}

.link-arrow:link,
.link-arrow:visited {
    background: url(../image/turn-right-orange.png) no-repeat center top /cover;
}

.link-arrow:hover {
    background: url(../image/turn-right-grey.png) no-repeat center top /cover;
}

.link-arrow:active {
    background: url(../image/turn-right-white.png) no-repeat center top /cover;
}

.link-style-light:link,
.link-style-light:visited,
.link-style-light:hover,
.link-style-light:active {
    text-decoration: none;
}

.link-style-light:link {
    color: #B18F1E;
}

.link-style-light:visited {
    color: #B18F1E;
}

.link-style-light:hover {
    color: #A6A4AD;
}

.link-style-light:active {
    color: #ffffff;
}

.link-style-dark:link,
.link-style-dark:visited,
.link-style-dark:hover,
.link-style-dark:active {
    text-decoration: none;
}

.link-style-dark:link,
.link-style-dark:visited {
    color: #9A98A2;
}

.link-style-dark:hover {
    color: #B18F1E;
}

.link-style-dark:active {
    color: #ffffff;
}

.email-subscribe-button:hover {
    text-decoration: none;
    background: #4F4E53;
}

.email-subscribe-button:active {
    background: #B18F1E;
    color: black;
}

/*transformations*/
.quote-title {
    position: relative;
}

.quote-image {
    transition: all 300ms ease;
}

.quote-image:hover {
    -webkit-transform: scale(1.5, 1.5);
    -moz-transform: scale(1.5, 1.5);
    -o-transform: scale(1.5, 1.5);
    -ms-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
}

.left-panel-block .info-block-image {
    -webkit-transition: all 700ms ease 1s;
    -moz-transition: all 700ms ease 1s;
    -ms-transition: all 700ms ease 1s;
    -o-transition: all 700ms ease 1s;

    transition: all 700ms ease 1s;
    box-shadow: inset -120px 120px 30px rgba(61, 59, 58, 0.247);
}

.right-panel-block .info-block-image {
    -webkit-transition: all 700ms ease 1s;
    -moz-transition: all 700ms ease 1s;
    -ms-transition: all 700ms ease 1s;
    -o-transition: all 700ms ease 1s;
    transition: all 700ms ease 1s;
    box-shadow: inset 120px -120px 30px rgba(61, 59, 58, 0.247);
}

.info-block-image:hover {
    box-shadow: none;
}
